Webpage_Nma/Connected Services/W_NMA/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Biblioteca" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Biblioteca" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="profesional">
    <xs:sequence>
      <xs:element minOccurs="0" name="AREAPROF_AREA_ID" type="xs:decimal" />
      <xs:element minOccurs="0" name="PROF_ACTIVO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PROF_APELLIDO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PROF_CORREO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PROF_NOMBRE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PROF_PASS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PROF_RUT" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="profesional" nillable="true" type="tns:profesional" />
</xs:schema>