Webpage_Nma/Connected Services/W_NMA/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49430/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49430/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49430/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Biblioteca" />
      <xsd:import schemaLocation="http://localhost:49430/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DAL" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_listarProfesionalEspecifico_InputMessage">
    <wsdl:part name="parameters" element="tns:listarProfesionalEspecifico" />
  </wsdl:message>
  <wsdl:message name="IService1_listarProfesionalEspecifico_OutputMessage">
    <wsdl:part name="parameters" element="tns:listarProfesionalEspecificoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_modificarProfesional_InputMessage">
    <wsdl:part name="parameters" element="tns:modificarProfesional" />
  </wsdl:message>
  <wsdl:message name="IService1_modificarProfesional_OutputMessage">
    <wsdl:part name="parameters" element="tns:modificarProfesionalResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_listar_InputMessage">
    <wsdl:part name="parameters" element="tns:listar" />
  </wsdl:message>
  <wsdl:message name="IService1_listar_OutputMessage">
    <wsdl:part name="parameters" element="tns:listarResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_listarAsesorias_InputMessage">
    <wsdl:part name="parameters" element="tns:listarAsesorias" />
  </wsdl:message>
  <wsdl:message name="IService1_listarAsesorias_OutputMessage">
    <wsdl:part name="parameters" element="tns:listarAsesoriasResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_login_InputMessage">
    <wsdl:part name="parameters" element="tns:login" />
  </wsdl:message>
  <wsdl:message name="IService1_login_OutputMessage">
    <wsdl:part name="parameters" element="tns:loginResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_validarRut_InputMessage">
    <wsdl:part name="parameters" element="tns:validarRut" />
  </wsdl:message>
  <wsdl:message name="IService1_validarRut_OutputMessage">
    <wsdl:part name="parameters" element="tns:validarRutResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ListarUsuarioEspecifico_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarUsuarioEspecifico" />
  </wsdl:message>
  <wsdl:message name="IService1_ListarUsuarioEspecifico_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarUsuarioEspecificoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_modificarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:modificarUsuario" />
  </wsdl:message>
  <wsdl:message name="IService1_modificarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:modificarUsuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="listarProfesionalEspecifico">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/listarProfesionalEspecifico" message="tns:IService1_listarProfesionalEspecifico_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/listarProfesionalEspecificoResponse" message="tns:IService1_listarProfesionalEspecifico_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="modificarProfesional">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/modificarProfesional" message="tns:IService1_modificarProfesional_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/modificarProfesionalResponse" message="tns:IService1_modificarProfesional_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="listar">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/listar" message="tns:IService1_listar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/listarResponse" message="tns:IService1_listar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="listarAsesorias">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/listarAsesorias" message="tns:IService1_listarAsesorias_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/listarAsesoriasResponse" message="tns:IService1_listarAsesorias_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="login">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/login" message="tns:IService1_login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/loginResponse" message="tns:IService1_login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="validarRut">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/validarRut" message="tns:IService1_validarRut_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/validarRutResponse" message="tns:IService1_validarRut_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarUsuarioEspecifico">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ListarUsuarioEspecifico" message="tns:IService1_ListarUsuarioEspecifico_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ListarUsuarioEspecificoResponse" message="tns:IService1_ListarUsuarioEspecifico_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="modificarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/modificarUsuario" message="tns:IService1_modificarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/modificarUsuarioResponse" message="tns:IService1_modificarUsuario_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="listarProfesionalEspecifico">
      <soap:operation soapAction="http://tempuri.org/IService1/listarProfesionalEspecifico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modificarProfesional">
      <soap:operation soapAction="http://tempuri.org/IService1/modificarProfesional" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listar">
      <soap:operation soapAction="http://tempuri.org/IService1/listar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarAsesorias">
      <soap:operation soapAction="http://tempuri.org/IService1/listarAsesorias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login">
      <soap:operation soapAction="http://tempuri.org/IService1/login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validarRut">
      <soap:operation soapAction="http://tempuri.org/IService1/validarRut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarUsuarioEspecifico">
      <soap:operation soapAction="http://tempuri.org/IService1/ListarUsuarioEspecifico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modificarUsuario">
      <soap:operation soapAction="http://tempuri.org/IService1/modificarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:49430/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>